@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}


h1, h2, h3, ul, p{
    margin: 0;
}

.location-button:active{
    transform: scale(0.9);
}

main{
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    background-image: url('../assets/bg-image.jpg');

}

.toolbox{
    position: sticky;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff;
    top: 0;
    z-index: 7;
    padding: 8px 12px;
}

header{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

header h1{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.logo-container{
    display: flex;
    align-items: center;
    width: fit-content;
}

.logo-image{
    width: 85px;
}


footer{
    background-color: #000;
    padding: 8px;
}

footer p{
    padding: 5px;
    color: #fff;
    text-align: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.card{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    max-width: 100%;
    border-radius: 8px;
    background-color: #fff;
}

.vehicle-name-wrapper{
    background-color: #047857;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 12px;
}

.vehicle-name-wrapper:hover{
    background-color: #059669;
}

.vehicle-name{
    color: #fff;
}


.vehicle-info-container{
    padding: 8px 12px;
}


.vehicle-location-container{
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
}

.location-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.location-button img{
    width: 16px;
}

.sf{
    list-style-image: url('../assets/icons/sf-icon.svg');
}

.sp{
    list-style-image: url('../assets/icons/spin-icon.svg');
}

.cryo{
    list-style-image: url('../assets/icons/cryo-icon.svg');
}

.testing-list-container{
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 5px;
}

.testing-list-container h3{
    font-weight: 500;
    padding-bottom: 4px;
}

.vehicle-status{
    padding: 2px 0;
    display: flex;
    gap: 4px;
}

dialog{
    z-index: 8;
    padding: 0;
}

#map {
    height: 450px;
    width: 450px;
}

#vehicle-cards-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    padding: 8px 12px;
}

.search-bar-wrapper{
    position: relative;
    width: 100%;
}

.search-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(201, 201, 201);
}

.search-icon img{
    width: 12px;
    height: 12px;
    pointer-events: none;
}

#search-input{
   width: 85%;
    max-width: 100%;
    background: #1e293b;
    border: none;
    padding: 12px 15px;
    padding-left: 35px;
    color: #fff;
   border-radius: 12px;
}

kbd{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(201, 201, 201);
    display: none;
}

#removeAll{
    background-color: #b91c1c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.new-btn-wrapper {
    position: fixed;
    right: 15px;         
    bottom: 48px;     
}

.cta-btn{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #1e293b;
    color: #fff;
    padding: 12px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cta-btn:hover{
    background-color: #334155;
}

.cta-btn:active{
    transform: scale(0.95);
}

.cta-btn img{
    width: 25px;
    height: 25px;
    display: block;
}


#add-vehicle-form{
    width: 300px;
    background-color: #0f172aa6;
    color: #fff;
    padding: 25px;
    border-radius: 8px;
    display: block;   
    margin: auto; 
    margin-top: 25px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#add-vehicle-form div{
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}


#add-vehicle-form button{
    text-align: center;
    background-color: #1e293b;
    color: #fff;
    padding: 8px 35px;
    display: block;
    margin: auto;
}

header a{
    color: #fff;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

#sources-wrapper{
    background-color: #0f172aa6;
    color: #fff;
    width: fit-content;
    padding: 12px 16px;
    margin: 8px;
    border-radius: 8px;
}

#sources-wrapper a{
    color: #fff;
}



@media screen and (min-width: 600px){
    kbd{
        display: inline;
    }
    #vehicle-cards-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .search-bar-wrapper{
        width: 320px;
    }
    #search-input{
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    #vehicle-cards-wrapper{
        grid-template-columns: repeat(4, 1fr);
    }
    .search-bar-wrapper{
        width: 620px;
    }
}